<table class="table table-hover table-striped table-condensed table-bordered ordersTable">
    <thead>
        <tr>
            <th data-ng-click="setColumnOrder('id')">ID</th>
            <th data-ng-click="setColumnOrder('name')">Name</th>
            <th data-ng-click="setColumnOrder('code')">Code</th>
            <th data-ng-click="setColumnOrder('category')">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-hide="products || products.length > 0" class="error">
            <td colspan="4">
                <div class="text-center"><strong>No products found</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="row in products | orderBy:orderby:reverse">
            <td>
                {{ row.id }}
            </td>
            <td>
                {{ row.name }}
            </td>
            <td>
                {{ row.code }}
            </td>
            <td>
                {{ row.category }}
            </td>
        </tr>
    </tbody>
</table>