<div>
    <div class="container">
        <header>
            <h3>Termékek</h3>
        </header>


        <form>
            <div class="form-row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="input_ProductName">Terméknév</label>
                            <input type="text" class="form-control" id="input_ProductName" placeholder="Terméknév" data-ng-model="formItem.name">
                        </div>
                        <div class="form-group">
                            <label for="input_ProductCode">Kód</label>
                            <input type="text" class="form-control" id="input_ProductCode" placeholder="Kód" data-ng-model="formItem.code">
                        </div>
                        <div class="form-group">
                            <label for="input_ProductCategory">Kategória</label>
                            <input type="text" class="form-control" id="input_ProductCategory" placeholder="Kategória" data-ng-model="formItem.category">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input_ProductPrice">Ár</label>
                            <input type="number" class="form-control" id="input_ProductPrice" placeholder="Ár(HUF)">
                        </div>
                        <div class="form-group">
                            <label for="input_ProductDescription">Leírás</label>
                            <textarea class="form-control" id="input_ProductDescription" rows="10" placeholder="Leírás" data-ng-model="formItem.description"></textarea>

                        </div>
                    </div>
            </div>
            <div class="form-row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-primary" data-ng-click="addProduct(this.event)">Mentés</button>
                </div>
            </div>
        </form>



        <br>
        <br>
        <div class="row">
            <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
                <thead>
                <tr>
                    <th data-ng-click="setColumnOrder('id')">ID</th>
                    <th data-ng-click="setColumnOrder('name')">Name</th>
                    <th data-ng-click="setColumnOrder('code')">Code</th>
                    <th data-ng-click="setColumnOrder('category')">Category</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-hide="products || products.length > 0" class="error">
                    <td colspan="5">
                        <div class="text-center"><strong>No products found</strong></div>
                    </td>
                </tr>
                <tr data-ng-repeat="row in products | orderBy:orderby:reverse">
                    <td>
                        {{ row.id }}
                    </td>
                    <td>
                        {{ row.name }}
                    </td>
                    <td>
                        {{ row.code }}
                    </td>
                    <td>
                        {{ row.category }}
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" data-ng-click="deleteProductById(row.id)">Delete
                        </button>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>


        <!--        <div>-->
        <!--            <div class="row cardContainer">-->
        <!--                <div class="span3 card" data-ng-repeat="product in products | orderBy:'name'">-->
        <!--                    <button class="btn close cardClose" data-ng-click="deleteProduct(product.id)">&times;</button>-->
        <!--                    <div class="cardHeader">{{product.name + ' ' + product.code}}</div>-->
        <!--                    <div class="cardBody">{{product.category}}</div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</div>